{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>New Player to Game</h1>
                {{ form_start(rosterForm) }}
                {{ form_widget(rosterForm) }}
                <button type="submit" class="btn btn-primary">Create</button>
                {{ form_end(rosterForm) }}
            </div>
        </div>
    </div>
{% endblock %}
